/* Navigation */

.head-nav {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0px;

  background-color: #171717;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px black;
  padding-left: 10px;
  padding-right: 10px;

  z-index: 10;
}

.nav-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-btn::before {
  content: ".";
}

.nav-btn::after {
  content: "()";
}

/*
.code-animation:hover::before {
    content: '.';
}
*/

.code-animation:hover::after {
  content: "()";
}

#autor {
  position: unset;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.uz {
  width: 80%;
  margin: auto;
  display: block;
}

.info {
  width: 50%;
  padding: 2px;

  border: 5px dotted white;
}

.info > p {
  margin: 50px;
}

.skill {
  width: 40%;

  padding: 2px;

  border: 5px dotted white;
}

.projects {
  width: 80%;
  height: 600px;
  display: block;

  padding: 2px;

  margin: 20px;

  border: 5px dotted white;
}

.contact {
  width: 12%;
  height: 500px;

  padding: 2px;

  margin: 20px;

  border: 5px dotted white;

  overflow: scroll;
}
