header {
    width: 100vw;
    height: 6vh;
}

nav {
    background: var(--bg-nav);
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

nav > ul {
    justify-self: center;
}

nav > ul > li {
    color: var(--text);
    font-size: min(2.5vw, 1.5rem);
    font-family: var(--fontHeader);
    display: inline;
    margin: auto auto 20px 20px;
    list-style: none;
}

#light, #dark {
    color: var(--text);
    font-size: min(2.5vw, 1.5rem);
    font-family: var(--fontHeader);
    display: inline;
    margin: auto auto 20px 20px;
    list-style: none;
}

.logo {
    width: 2vw;
    height: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    border-radius: 50%;
}

.nav-item > a:any-link {
    color: var(--text);
    text-decoration: none;
}

.nav-item > a:hover {
    color: var(--pink);
}