.margin { margin: 10px; }

.x-margin { margin: 15px; }

.no-decoration { text-decoration: none; }

.no-decoration:hover { text-decoration: none; }

.left { float: left; }

.right { float: right; }

.center { text-align: center; vertical-align: middle; }

.white { background-color: white; }

.text-black { color: black; }

.text-black:hover { color: black; }

.copy { cursor: copy; text-decoration: underline; }

.copy:hover { text-decoration: none; }

.width20 { width: 20%; margin-left: 5%; margin-right: 5%; }

.head-normalize-height {
    height: 40px;
}

/* Planet animation */

.planet-center {
    width: 10px;
    height: 10px;
    /* background-color: rgb(255, 251, 0); */
    border-radius: 50%;
    position: absolute;
    top: 57%;
    right: 30%;
    z-index: 5;
}

.planet-params {
    padding: 100px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rotation 6s infinite linear;
}

.planet-params::before {
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    border-radius: 50%;
    margin: 51px;
}

.planet-blue {
    width: 200px;
    height: 200px;
    /* background-color: black; */
    animation: rotation 6s infinite linear;
}
  
.planet-blue::before {
    width: 50px;
    height: 50px;
    background-color: blue;
    z-index: 5;
}

.planet-yellow {
    width: 250px;
    height: 250px;
    /* background-color: black; */
    animation: rotation 7s infinite linear;
}

.planet-yellow::before {
    width: 60px;
    height: 60px;
    background-color: yellow;
    z-index: 6;
}

.planet-green {
    width: 280px;
    height: 280px;
    /* background-color: black; */
    animation: rotation 6.5s infinite linear;
}

.planet-green::before {
    width: 40px;
    height: 40px;
    background-color: green;
    z-index: 7;
}
 
.planet-red {
    width: 220px;
    height: 220px;
    /* background-color: black; */
    animation: rotation 5.5s infinite linear;
}

.planet-red::before {
    width: 70px;
    height: 70px;
    background-color: red;
    z-index: 7;
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.typewriter-effect {
    display: flex;
    justify-content: center;
    font-family: monospace;
  }
  
  .typewriter-effect > .text {
    max-width: 0;
    animation: typing 3s steps(var(--characters)) infinite;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .typewriter-effect:after {
    content: " |";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
  }
  
  @keyframes typing {
    75%,
    100% {
      max-width: calc(var(--characters) * 1ch);
    }
  }
  
  @keyframes blink {
    0%,
    75%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
}