:root {
  --fontPrimary:'JetBrains Mono', monospace;
  --fontSecondary:'Roboto Mono', monospace;
  --fontHeader:'Source Sans Pro', sans-serif;

  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  animation-duration: 1s;
}

html {
  width: 100vw;
  width: 100dvw;
  height: auto;
  margin: 0px;
}

body {
  width: 100dvw;
  width: 100vw;
  background-color: var(--bg);
  margin: 0px;
}

main {
  margin: 10px auto 10px auto;
}

main > section {
  width: 90dvw;
  width: 90vw;
  min-height: 95dvh;
  min-height: 95vh;
  margin: auto;
  padding: 0px;
}

.color-white {
  color: var(--text);
}

.tab {
  margin-right: 10px;
}