:root {
    
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    background-color: var(--bg);
}

body > * {
    border: blue solid 1px;
}

main > section {
    width: 100vw;
    height: 100dvw;
}