h1 {
    color: #fff;
    font-family: 'Fira Code', monospace;
    font-size: 40px;
    margin: 20px;
}

h2 {
    color: #fff;
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    margin: 10px;
}

h3 {
    color: #fff;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    margin: 10px;
}

p {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    margin: 10px;
}

li {
    color: #fff;
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    margin: 10px;
    list-style-type: none;
    display: inline;
}

label {
    color: #fff;
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    margin: 10px;
    list-style-type: none;
    display: inline;
}