.card {
    width: 350px;
    background-color: #0a0f0b;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1.5px solid var(--text);
    border-radius: 2%;
    text-decoration: none;
}

.card-head > i {
    color: #b7d364;
}

.card-head {
    width: calc(100% - 1rem);

    color: #abd200;
    font-family: 'Mona Sans';
    font-weight: 650;
    margin-bottom: 20px;
}

.card-text {
    color: #68b587;
    font-size: 0.8rem;
    font-family: 'Mona Sans';
    font-weight: 200;
    margin-top: 10px;
}

.card-big {
    grid-row: span 1.2 / auto;
}

.card-small {
    grid-row: span 1 / auto;
}