/* Welcome banner */

.welcome-banner {
	width: 100%;
    min-height: min-content;
	position: relative;
    float: left;
    margin-bottom: 20px;
}

.welcome-banner:before {
    content: '';

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    background: 
	linear-gradient( 90deg, #3f83f8 0%, #3f83f8a6 40%, #0000ff00 80%, transparent 100% );

    z-index: 3;
}

.welcome-title {

    position: absolute;
    top: 50%;
    left: 10%;

    color: #fff;
    font-family: 'Fira Code', monospace;
    font-size: 43px;

    z-index: 6;
}

.prof-pic {

    position: absolute;
    top: 35%;
    right: 20%;

    border: 3px groove white;
    border-radius: 100%;

    z-index: 6  ;
}

.small-prof-pic {
    float: left;
    border: 1px groove white;
    border-radius: 100%;
}

.content-sections {
    position: absolute;
    width: 100%;
    display: block;  
}

.centralized-article {
    width: 1000px;
    min-height: 400px;
    max-height: 600px;
    margin: auto;
    display: block;
    position: relative;
}

.box {
    width: 400px;
    height: 250px;

    padding-top: 60px;
    padding-bottom: 30px;

    display: inline;
}

.box-btn {
    margin: 20px;
}

.image-article-box {
    padding-bottom: 30px;
    position: relative;
    top: -50px;
}

.image-place-holder {
    visibility: hidden;
    display: none;
}

.narrow-article-box {
    min-height: 50px;
    max-height: 200px;
}

#discord {
    height: 750px;
}

.banner-social {
    border-radius: 30px;
    height: 40px;
    width: auto;
    padding: 5px;
}

.move-icon {
    position: relative;
    top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.carousel-cell {
    margin-left: 5%;
    margin-right: 5%;
}
